@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100|Roboto:100,300|Allan);
/*
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Allan', cursive;
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Start Don't Overthink it Grids  */
.grid:after {
  clear: both;
  display: table;
  content: ""; }

.col, .col1-1, .col1-2, .col1-3, .col2-3, .col1-4, .sidebar, .col3-4, .content, .col1-5, .col1-6 {
  display: inline-block;
  float: left;
  padding-left: 5px;
  padding-right: 5px; }

.module {
  margin: 5px; }

.col1-1 {
  width: 100%; }

.col1-2 {
  width: 50%; }

.col1-3 {
  width: 33.333%; }

.col2-3 {
  width: 66.666%; }

.col1-4, .sidebar {
  width: 25%; }

.col3-4, .content {
  width: 75%; }

.col1-5 {
  width: 20%; }

.col1-6 {
  width: 16.6666666667%; }

/* End Don't Overthink it Grids  */
.thinFont, body, h1, h2, h3, h4, .content .onePost .postTitle {
  font-family: "helvetica neue", helvetica, verdana, sans-serif;
  letter-spacing: .1rem;
  font-weight: 100;
  margin: 0;
  padding: 0; }

body {
  background: #92ba80;
  font-family: 'Roboto', helvetica, verdana, sans-serif; }

.page {
  margin: 0 auto;
  width: 80%;
  color: white; }

header h1 {
  font-family: 'Allan', cursive;
  font-size: 60px;
  display: inline-block;
  margin: 25px 0 0 0;
  position: relative; }
  header h1:before {
    content: "";
    background: url(img/halley-logo.png);
    height: 26px;
    width: 115px;
    position: absolute;
    top: -10px; }
header h2 {
  font-size: 12px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8); }
header h3 {
  margin: 5px;
  font-size: 14px; }

.greenBtn, #showForm, .form #btnSubmit {
  outline: none;
  font-size: 20px;
  padding: 0.5em 1.5em;
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #92ba80;
  background: linear-gradient(#92ba80, #89b576);
  border: 1px solid #7bac66;
  color: white;
  text-shadow: #40936b 0 -1px 0; }
  .greenBtn:hover, #showForm:hover, .form #btnSubmit:hover {
    background: linear-gradient(#a0c391, #92ba80); }
  .greenBtn:active, #showForm:active, .form #btnSubmit:active {
    background: linear-gradient(#84b16f, #76a85f); }

.circleBtn {
  color: white;
  background: #5e894b;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  float: right;
  padding: 5px 0 0 14px;
  font-size: 20px;
  cursor: pointer; }
  .circleBtn:hover {
    background: #92ba80; }
  .circleBtn:active {
    background: #476839; }

#showForm {
  float: right;
  margin: 5px; }

.form {
  z-index: 999;
  webkit-user-select: none;
  position: absolute;
  top: 50px;
  background: white;
  color: #5e894b;
  padding: 15px;
  border-radius: 5px; }
  .form:after {
    clear: both;
    display: table;
    content: ""; }
  .form #exitForm {
    color: white;
    background: #5e894b;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    float: right;
    padding: 5px 0 0 12px;
    font-size: 20px;
    cursor: pointer; }
    .form #exitForm:hover {
      background: #92ba80; }
    .form #exitForm:active {
      background: #476839; }
  .form input[type="text"], .form textarea {
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid rgba(100, 100, 100, 0.4);
    margin: 4px 0;
    outline: none; }
  .form textarea {
    resize: none;
    height: 150px; }
  .form .formCategory {
    display: inline-block; }
  .form #addCategory {
    float: right;
    color: white;
    background: #5e894b;
    width: intrinsic;
    border-radius: 20px;
    display: inline-block;
    padding: 6px  12px;
    font-size: 14px;
    cursor: pointer; }
    .form #addCategory:hover {
      background: #92ba80; }
    .form #addCategory:active {
      background: #476839; }
  .form #btnSubmit {
    float: right; }

#ddlCategories {
  height: 30px;
  padding: 5px;
  width: 100%;
  display: inline-block;
  margin: 5px; }

.content {
  margin: 30px 0px; }
  .content .onePost {
    border-top: 1px solid #84b16f;
    border-left: 1px solid #84b16f;
    border-right: 1px solid #a0c391;
    border-bottom: 1px solid #a0c391;
    background: #8cb679;
    border-radius: 5px;
    padding: 10px 15px 15px 15px;
    margin: 10px; }
    .content .onePost .postTitle {
      outline: none;
      border: 0px;
      font-size: 22px;
      font-family: helvetica, verdana, sans-serif;
      background: #84b16f;
      color: white;
      display: inline-block;
      color: rgba(255, 255, 255, 0.8);
      width: intrinsic;
      padding: 8px 12px;
      margin: 0 0 8px 0;
      left: -20px;
      font-weight: 300;
      position: relative; }
    .content .onePost .postMeta {
      font-size: 13px; }
    .content .onePost .postBody {
      outline: none;
      font-family: 'Roboto', helvetica, verdana, sans-serif;
      margin: 5px auto;
      letter-spacing: .1rem;
      padding: 10px 0;
      background: transparent;
      border: 0px;
      min-height: 200px;
      font-size: 16px;
      width: 100%;
      color: white;
      line-height: 1.6em;
      font-weight: 210;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .content .onePost .postFooter {
      font-size: 13px; }
      .content .onePost .postFooter .postAuthorTools {
        text-align: right; }
        .content .onePost .postFooter .postAuthorTools a {
          position: relative;
          font-size: 15px;
          bottom: -7px;
          text-decoration: none;
          color: white;
          background: #84b16f;
          padding: 6px 12px;
          border-radius: 5px 5px 0 0; }
          .content .onePost .postFooter .postAuthorTools a:hover {
            background: #a0c391; }
          .content .onePost .postFooter .postAuthorTools a:active {
            background: #76a85f; }
    .content .onePost:after {
      clear: both;
      display: table;
      content: ""; }

.sidebar {
  margin: 62px 0px; }
  .sidebar .recentPosts {
    border-top: 1px solid #84b16f;
    border-left: 1px solid #84b16f;
    border-right: 1px solid #a0c391;
    border-bottom: 1px solid #a0c391;
    background: #8cb679; }
    .sidebar .recentPosts .recentPostTitle {
      position: relative;
      display: block;
      width: 100%;
      color: white;
      text-decoration: none;
      background: #84b16f;
      padding: 7px 12px;
      margin: 0; }
      .sidebar .recentPosts .recentPostTitle:hover {
        background: linear-gradient(#a0c391, #92ba80); }
      .sidebar .recentPosts .recentPostTitle:active {
        background: linear-gradient(#84b16f, #76a85f); }
