.content{
@extend .col3-4;
margin: 30px 0px;

  .onePost{



    input[type="text"]{
         font-family:  helvetica, verdana, sans-serif;
       outline: none;
      border: 0px;
      color: white !important;
      background: transparent!important;
    }

    border-top: 1px solid darken($Estelaverda, 5%);
    border-left: 1px solid darken($Estelaverda, 5%);
    border-right: 1px solid lighten($Estelaverda, 5%);
    border-bottom: 1px solid lighten($Estelaverda, 5%);
    background: darken($Estelaverda, 2%);
    border-radius: 5px;
    padding: 10px 15px 15px 15px;
    margin: 10px;

    .postTitle{
      
       @extend .thinFont;


      font-size: 22px;
     
      background: darken($Estelaverda, 5%);
      
   
    display: inline-block;
    color: rgba(255,255,255,.8);
      width: intrinsic;
      padding: 8px 12px;
      margin: 0 0 8px 0;
      left: -20px;
      font-weight: 300;
      position: relative;
    }

    .postMeta{
      font-size: 13px;
      .postDate{

      } 
      .postAuthor{

      }
    }

    .postBody{
      outline: none;
      font-family: 'Roboto', helvetica, verdana, sans-serif;
      margin: 5px auto;
      letter-spacing: .1rem;
      padding: 10px 0;
       background: transparent;
       border: 0px;
resize: none;
       min-height: 250px;
       font-size: 16px;
       width: 100%;
       color: white;
line-height: 1.6em;
font-weight: 210;
      border-top: 1px solid rgba(255,255,255,.1);
      border-bottom: 1px solid rgba(255,255,255,.1);
    }
    .postFooter{
       font-size: 13px;
      .postCategoryHolder{
        .postTags{

        }
      }

      .postTagHolder{
       .postTags{

       }
      }

      .postAuthorTools{
        text-align: right;
        a{
          position: relative;
          font-size: 15px;
          bottom: -7px;
          text-decoration: none;
          color: white;
          background: darken($Estelaverda, 5%);
          padding: 6px 12px;
          border-radius: 5px 5px 0 0;
            &:hover{
     background: lighten($Estelaverda, 5%);
    }
    &:active{
      background: darken($Estelaverda, 10%);
    }
        }
       .postEditButton{

       }
       .postDeleteButton{

       }
      }
    }
    &:after{
      clear: both;
      display: table;
      content:"";
    }
  }//onePost


}//content

  